/* Custom styles for range inputs to look better in a video player */
input[type=range] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 100%;
}

input[type=range]:focus {
  outline: none;
}

/* Chrome, Safari, Opera, Edge */
input[type=range]::-webkit-slider-runnable-track {
  background: rgba(255, 255, 255, 0.3);
  height: 0.25rem;
  border-radius: 0.25rem;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -6px; /* Centers thumb on the track */
  background-color: #3B82F6; /* primary color */
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  transition: transform 0.2s ease-in-out;
}

input[type=range]:hover::-webkit-slider-thumb {
    transform: scale(1.2);
}

/* Firefox */
input[type=range]::-moz-range-track {
  background: rgba(255, 255, 255, 0.3);
  height: 0.25rem;
  border-radius: 0.25rem;
  border: none;
}

input[type=range]::-moz-range-thumb {
  border: none;
  border-radius: 50%;
  background-color: #3B82F6;
  height: 1rem;
  width: 1rem;
  transition: transform 0.2s ease-in-out;
}

input[type=range]:hover::-moz-range-thumb {
    transform: scale(1.2);
}